{# HTML5 declaration #}
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ePMEDS</title>
    <link href="{% static 'provider/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'provider/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'provider/css/epmeds.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'provider/images/favicon.png' %}" rel="icon" />
    <script src="{% static 'provider/js/jquery-3.0.0.js' %}"></script>
    <link rel="stylesheet" href="{% static 'provider/css/jquery.dataTables.min.css' %}" />
    <link rel="stylesheet" href="{% static 'provider/css/jquery.dataTables.min.css' %}" />
</head>

<body class="inner_page_body">
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                    <h3 class="header-logo"><a href="/"><span>e</span>PMeds</a></h3>
                </div>
                <div class="col-md-9">
                    <ul class="main-tab">
                        <li><a href="/"><img src="{% static 'provider/images/home.png' %}" /><span>Home</span></a></li>
                        <li><a href="{% url 'patients:member_dashboard' %}"><img src="{% static 'provider/images/account.png' %}"/><span>Account Summary</span></a>
                        </li>
                        <li><a href="{% url 'patients:add_member' %}"><img src="{% static 'provider/images/member.png' %}"/><span>Add Member</span></a></li>
                        <li><a href="#"><img src="{% static 'provider/images/mailbox.png' %}"/><span>Mailbox</span></a></li>
                        <li><a href="{% url 'patients:member_log' %}"><img src="{% static 'provider/images/log.png' %}" /><span>Who Viewed My Record</span></a></li>
                        <li>
                            <a href="{% url 'custom:user_logout' %}"><img src="{% static 'provider/images/signout.png' %}" /><span>Log Out</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <div class="hello_user">
                        <p><span>Logged in as:</span>{{user.username|title}}</p>
                        <p><span>Unique Id:</span></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--end of header-->
    <div>
        {% block content %} {% endblock %}
    </div>

    <footer class="footer_dynamic">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="foot-social">
                        <li><a href="">Home Page</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                    <div class="f_copyright">
                        <p>Copyright <a href="#">ePMEDS.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="{% static 'provider/js/bootstrap.min.js' %}"></script>
</html>
        