{% extends "member/base_member.html" %}
{% block content %}
{% load static %}
{% load widget_tweaks %}

<section class="form-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="parent_of_form">
            {% include 'member/tab_header.html' %}
                <div class="main_sec">
                        <div class="form-box registration-form mt-40">
                            <p class="form-head"><img src="{% static 'provider/images/registration.png' %}"/> <strong>Communication
                                    Log</strong>
                            </p>
                            <div>
                                <table class="table table-striped" id="mytable">
                                    <thead>
                                        <tr>
                                            <th> # </th>
                                            <th> Doctor Name </th>
                                            <th> Date </th>
                                            <th> Last Message </th>
                                            <th> Message Status </th>
                                            <th> Action </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for msg in msgs %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{msg.username}}</td>
                                            <td>{{msg.communicationlog__create_date}}</td>
                                            <td>{{msg.communicationlog__messages}}</td>
                                            <td>{{msg.communicationlog__status}}</td>
                                            <td><a href="{% url 'patients:chat' idx msg.id %}">View</a> </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="d-flex align-items-center justify-content-center add_remove_submit">
                                    <button type="button" class="btn-submit buttonNext"><a style="color:white;" href="{% url 'patients:drug_dictionary' idx %}">Next Screen</a></button>
                                </div>
                            </div>

                        </div>
                    </div>

          </div>
        </div>
      </div>
    </div>
</section>
<script src="{% static 'provider/js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script>
$(document).ready(function() {
    $('#mytable').dataTable({
        "lengthMenu": [
            [20, 45, 100, -1],
            [20, 45, 100, "All"]
        ],
        "aaSorting": [
            [2, "desc"]
        ]
    });
});
</script>
{% endblock %}