{% extends "base_2.html" %}
{% block content %}
{% load static %}
<div class="content-area">
    <h2 class="head-content">Careers at ePMmeds</h2><br>
    <p>Industry leading technology that is improving and lowering the cost our health care system. Driven, diverse,
        collaborative, flexible, results-oriented work environment. The tools and support you need to innovate,
        lead, and grow will inspire you to make a difference by helping others.
        <br><br>

        ePMmeds offers all of this and more. Creating an inspiring work environment-one that affords each person the
        opportunity to contribute in achieving the company's business goals and objectives. We work to foster an
        environment where our employees are challenge so they grow and prosper through our employee's innovation
        development program. </p>
</div>

{% endblock %}