    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 ftr-grid">
                    <h3>Customer Service</h3>
                    <ul class="ftr-list">
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Product Recalls</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Website Accessibility</a></li>
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ftr-grid">
                    <h3>Walgreens Stores</h3>
                    <ul class="ftr-list">
                        <li><a href="#">Store Locator</a></li>
                        <li><a href="#">Weekly Ad</a></li>
                        <li><a href="#">Savings & Deals</a></li>
                        <li><a href="#">Sweepstakes & Promotions</a></li>
                        <li><a href="#">Special Email Offers</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ftr-grid">
                    <h3>Company Information</h3>
                    <ul class="ftr-list">
                        <li><a href="#">AARP®</a></li>
                        <li><a href="#">Awards and Recognition</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Company Info</a></li>
                        <li><a href="#">Disability Inclusion</a></li>
                        <li><a href="#">Diversity</a></li>
                        <li><a href="#">Investor Relations</a></li>
                    </ul>
                </div>
                <div class="col-md-3  ftr-info ">
                    <h3>Contact Us</h3>
                    <p>Email : info@ehomeds.com <br> Telephone : 831-444-7271 <br> Fax : 831-442-9011
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---->
    <div class="copywrite">
        <div class="container">
            <p> © 2015 ePMods. All rights reserved | Powered by <a href="http://amazing7.com/" target="_blank">Amazing 7
                    Studios</a></p>
        </div>
    </div>
    <!---->