{# HTML5 declaration #}
{% load static %}
<!-- <br> <a href='http://amazingseven.net/epmeds/resetpassword.php?unemail=$unemail'>Click Here</a>";
<script>alert('A link has been send to your mail')</script>
<script>alert('This mail-id is not registred with us')</script> -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ePMEDS</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/epmeds.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'images/favicon.png' %}" rel="icon" />
    <script src="{% static 'js/jquery-3.0.0.js' %}"></script>
    <style >
    .colbox {
            border: 5px solid #ECEAE8;
        padding: 0px;
        min-height: 450px;
    }
        .form-box-inner{
        max-width: 600px;
        margin: auto;
        width: 100%;
        }
        .regular{
        color: #363B74;
        line-height: 1em;
        font-size: 35px;
        text-align: center;
        background-color: #60cffa;
        margin: 0px;
        padding: 35px 0px;
        }
        .forgtfrm{
        max-width: 70%;
        margin: 70px auto;
        width: 100%;
        }
    </style>    
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center"><h3>ePMEDS</h3></div>
            </div>
        </div>
    </header>
    <section class="top-sec">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
                    Welcome to the <span class="accent light" style="color: #00A3E3;">
                        EPMEDS
                    </span>
                        Personal Health Record
                </h1>

        </div>

        </div>

    </div>
    </section>
    <section class="form-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-form">
                    <div class="form-box-inner">
                        <div class="row">
                        <div class="col-md-12">

                        <div class="col-md-12">
                        <div class="colbox">
                            <div >
                                <h2 class="regular"><strong>Forgot</strong><span class="replaceName"> Password?</span> </h2>
                            </div>

                            {% if messages %}
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {% for msg in messages %}
                                    {% if not msg == "new_password2" %}
                                        <strong>{{msg}}</strong>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}

                            <form class="forgtfrm"  method="post">
                                {% csrf_token %}
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="text" class="form-control" name="email" placeholder="Enter Email Id" required >
                            </div>
                             <div class="form-group">

                                <label for="new_password">New Password</label>
                                <input type="password" class="form-control"  name="new_password" id="new_password" placeholder="Enter New Password" required >
                            </div>
                            <div class="form-group">

                                <label for="confirm_password">Confirm Password</label>
                                <input type="password" class="form-control"  name="confirm_password"  id="confirm_password" placeholder="Enter Confirm Password" required >
                            </div>
                            <div class="form-group">
                                <label for="otp">OTP</label>
                                <input type="number" class="form-control"  name="otp" id="otp" placeholder="Enter OTP" required >
                            </div>
                            <input type="submit" class="btn btn-success" name="forget" value="Submit">
                            </form>
                        </div>
                        </div>
                    </div>
                    </div>
                    </div><!--end of form box inner-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="foot-social">
                        <li>Copyright <?php echo date("Y"); ?> <a href="index.html">ePMEDS.com</a></li>
                        <li><a href="#">Home Page</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
function  logoutcon(){
    return confirm("Do You Really Want To Logout ?");
  }
</script>
</html>
<script type="text/javascript">
</script>
