{% extends "base_1.html" %}
{% block content %}
{% load static %}
<div class="latest" style=" border-bottom:1px  dashed #999;">
    <div class="container">

        <div class="latest-top">
            <div class="col-md-12">

                <h2 class="head-content">Patient Portal Services</h2><br>

                <p>In meeting the Meaningful Use for 2014 and beyond, we can provide Hospitals and other Providers a
                    patient portal that is complete, efficient, accurate and easy to use.</p><br /><br /><br />
            </div>

        </div>
    </div>
</div>
{% endblock %}