{% extends "base_2.html" %}
{% block content %}
{% load static %}
<div class="content-area">
    <h2 class="head-content">WHAT WE DO</h2><br>
    <p>ePMeds Inc., is a technology company that has developed a proprietary integrated health care system that will
        improve the electronic integration of patient controlled centralized electronic health records (EHR). Data
        are collected via health information exchanges including diagnoses, prescriptions, outcomes, laboratory and
        radiology results from all patient's inpatient and outpatient visits. <br><br>
        <h2 class="head-content">Our Focus</h2><br>
        1. ePMeds Inc. is focused in reducing the cost of health care through an innovative approach by providing a
        front-end drug interaction checking mechanism that alerts prescribing physicians and patients alike if an
        adverse drug reaction between the new medication that is about to be prescribed will have a dangerous
        interactions against patient's existing medications and allergies while providing risks and benefits for an
        easy and safe prescription decision making system. <br><br>
        2. Alerts are sent to all patients (members) active physicians and patient's other authorized
        representatives if a new medication is prescribed, laboratory or radiology tests are ordered or resulted.
        <br><br>
        3. Our system checks the accuracy of medical entries received via health information exchange interfaces
        that come in from all member's different health care providers along with entries entered by patients and
        their respective authorized representatives. <br><br>
        4. Members will have an access for discounted medications (wholesale price plus freight) through its own
        wholly-owned subsidiary. <br><br>
        5. Provide our members an access to a health care prevention systems and monitor our members electronically
        at their respective homes if desired and needed.
    </p>
</div>

{% endblock %}